
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../images/HP_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-image: url("../images/HP_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.logo-text {
    color: white;
    font-size: 24px;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px  1px 0 #000,
        1px  1px 0 #000;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-item {
    color: white;
    text-decoration: none;
    margin-right: 30px;
    font-size: 20px;
}

.nav-item:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 0 20px;
}

.about-section h1 {
    font-size: 36px;
    margin-top: 100px;
    color: #ffffff;
    text-align: center;
}

.about-section p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
}
