* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/HP_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-image: url("../images/HP_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70px;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
  }
  
  .logo-text {
    color: white;
    font-size: 24px;
    text-shadow: -1px -1px 0 #000000,  
                  1px -1px 0 #000,
                 -1px  1px 0 #000,
                  1px  1px 0 #000;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    padding: 40px;
  }
  
  .nav-item {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    margin: 20px;
    margin-top: 100px;
    position: relative;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .gallery img:hover {
    transform: scale(1.1);
  }
  
  .close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    z-index: 2001;
  }
  
  .delete-icon {
    position: absolute;
    top: 80px;
    right: 40px;
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    z-index: 2001;
  }
  
  .delete-icon:hover {
    color: red;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 2000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .modal-content {
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    border-radius: 8px;
  }
  
  .plus-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  
  .plus-button img {
    margin-top: 5px;
    width: 60px;
    height: 60px;
  }
  
  .upload-menu {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease-in-out;
    position: fixed;
    bottom: 100px;
    right: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    z-index: 1001;
  }
  
  .upload-menu.show-upload {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  
  .upload-menu a {
    display: block;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
  }
  
  .upload-menu a:hover {
    background-color: #f2f2f2;
  }
  